<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>title</key>
	<string>Welcome to Liquid</string>
	<key>background_color</key>
	<string>#FF0000</string>
	<key>text_color</key>
	<string>#00FF00</string>
	<key>show_login_version_1</key>
	<true/>
</dict>
</plist>
